@model SceneView.Models.message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user1.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user1.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.messageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
