@model IEnumerable<SceneView.Models.message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user1.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user1.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.messageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.messageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.messageID })
        </td>
    </tr>
}

</table>
