@model SceneView.Models.answer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.answerContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answerContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question.questionContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question.questionContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.answerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
