@model IEnumerable<SceneView.Models.note>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noteContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noteLike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noteTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scenicSpot.scenicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noteContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noteLike)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noteTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scenicSpot.scenicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.noteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.noteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.noteID })
        </td>
    </tr>
}

</table>
