@model List<SceneView.Models.note>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/home/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/home/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>

    <!-- made by may 2018/7/20 -->
    <div class="banner1">
        <div class="container">
            <div class="banner_top">
                <div class="banner_top_left">

                </div>
                <div class="banner_top_right">
                    <form>
                        <input type="text" value="目的地/景点" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}" required="">
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav cl-effect-14">
                        <li><a href="index.html">首页</a></li>
                        <!-- <li><a href="about.html" class="active">景点</a></li> -->

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                景点 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html" style="padding-top:10px;">黄浦区</a></li>
                                <li><a href="about.html" style="padding-top:10px;">静安区</a></li>
                                <li><a href="about.html" style="padding-top:10px;">徐汇区</a></li>




                                <li><a href="about.html" style="padding-top:10px;">查看更多</a></li>

                            </ul>
                        </li>

                        <li><a href="blog.html" class="active">故事</a></li>
                        <li><a href="#contact" class="scroll">注册/登录</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->

            </nav>
            <div class="logo">

            </div>
            <div class="dummy_text">

            </div>

        </div>
    </div>
    <!-- made by may 2018/7/20 -->
    <!-- blog -->
    <script type="text/javascript" src="~/Scripts/scene/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <div class="blog">
        <div class="container">
            <h3>Blog</h3>
            <div class="blog-grids">
                @if (Model.Count > 0)
                {
                    <div class="col-md-6 blog-grid">
                        <div class="col-xs-4 blog-grid-left">
                            <a href="single.html"><img src="@Model[0].image.First().imageAddress" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-xs-8 blog-grid-right">
                            <a href="/Scene/SingleNote?nn=@Model[0].noteID">@Model[0].title</a>
                            <h4>@Model[0].noteTime</h4>
                            <p class="limit">
                                @Model[0].noteContent
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                        
                    </div>}
                @if (Model.Count > 1)
                {
                    <div class="col-md-6 blog-grid">
                        <div class="col-xs-4 blog-grid-left">
                            <a href="single.html"><img src="@Model[1].image.First().imageAddress" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-xs-8 blog-grid-right">
                            <a href="/Scene/SingleNote?nn=@Model[1].noteID">@Model[1].title</a>
                            <h4>@Model[1].noteTime</h4>
                            <p class="limit">
                                @Model[1].noteContent
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                        
                    </div>}
                <div class="clearfix"> </div>
            </div>
            <div class="blog-grids">
                @if (Model.Count > 2)
                {
            <div class="col-md-6 blog-grid">
                <div class="col-xs-4 blog-grid-left">
                    <a href="single.html"><img src="@Model[2].image.FirstOrDefault().imageAddress" alt=" " class="img-responsive" /></a>
                </div>
                <div class="col-xs-8 blog-grid-right">
                    <a href="/Scene/SingleNote?nn=@Model[2].noteID">@Model[2].title</a>
                    <h4>@Model[2].noteTime</h4>
                    <p class="limit">
                        @Model[2].noteContent
                    </p>
                </div>
                <div class="clearfix"> </div>
              
            </div>
                }
                <div class="col-md-6 blog-grid">
                    <div class="col-xs-4 blog-grid-left">
                        <a href="single.html"><img src="~/Content/image/home/19.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="col-xs-8 blog-grid-right">
                        <a href="single.html">sint occaecat cupidatat non proident</a>
                        <h4>28 November 2015</h4>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                   
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="blog-grids">
                <div class="col-md-6 blog-grid">
                    <div class="col-xs-4 blog-grid-left">
                        <a href="single.html"><img src="~/Content/image/home/16.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="col-xs-8 blog-grid-right">
                        <a href="single.html">sint occaecat cupidatat non proident</a>
                        <h4>27 November 2015</h4>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                    
                </div>
                <div class="col-md-6 blog-grid">
                    <div class="col-xs-4 blog-grid-left">
                        <a href="single.html"><img src="~/Content/image/home/17.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="col-xs-8 blog-grid-right">
                        <a href="single.html">sint occaecat cupidatat non proident</a>
                        <h4>28 November 2015</h4>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                  
                </div>
                <div class="clearfix"> </div>
            </div>
            <nav class="paging">
                <ul class="pagination pagination-lg">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">?</span></a></li>
                    <li><a href="/Scene/Blog?page=0">1</a></li>
                    <li><a href="/Scene/Blog?page=1">2</a></li>
                    <li><a href="/Scene/Blog?page=2">3</a></li>
                    <li><a href="/Scene/Blog?page=3">4</a></li>
                    <li><a href="/Scene/Blog?page=4">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">?</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- //blog -->
   
    <!-- here stars scrolling icon -->
    <script>
        $(".limit").each(function () {
            var len = $(this).text().length;
            if (len > 100) {
                var str = "";
                str = $(this).text().substring(0, 100) + "......";
                $(this).html(str);
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {


            $().UItoTop({ easingType: 'easeOutQuart' });

        });

    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- //for bootstrap working -->
</body>
</html>