@model  List<SceneView.Models.comment>

@{
    Layout = null;
    if (Session["user"] == null)
    {
        HttpContext.Current.Response.Redirect("/login");
    }
}

@foreach (var comment in Model)
{
    <div class="comment-show-con commentclearfix">
        <div class="comment-show-con-img pull-left"><img src="@comment.user.userInfo.headPortrait" alt=""></div>
        <div class="comment-show-con-list pull-left commentclearfix">

            <div class="pl-text commentclearfix">
                <a href="#" class="comment-size-name">@comment.user.userInfo.nickname: </a>
                <span class="my-pl-con">&nbsp;@comment.commentContent</span>
            </div>
            <div class="date-dz">
                <span class="date-dz-left pull-left comment-time">@comment.commentTime</span>
                <div class="date-dz-right pull-right comment-pl-block">
                    <a href="javascript:;" class="removeBlock">删除</a>
                    <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a>
                    <span class="pull-left date-dz-line">|</span>
                    <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">@comment.commentLike </i>)<i class="commentID" element hidden="hidden">@comment.commentID</i>></a>
                </div>
            </div>
            <div class="hf-list-con"></div>
        </div>
    </div>
}
