@model List<SceneView.Models.note>
@{
    Layout = null;
    
}
<div class="container">
    <h3>Blog</h3>
    <div class="blog-grids">
        @if (Model.Count > 0)
        {
        <div class="col-md-6 blog-grid">
            <div class="col-xs-4 blog-grid-left">
                <a href="/Scene/SingleNote?nn=@Model[0].noteID" target="_blank"><img src="@Model[0].image.First().imageAddress" alt=" " class="img-responsive" /></a>
            </div>
            <div class="col-xs-8 blog-grid-right">
                <a href="/Scene/SingleNote?nn=@Model[0].noteID" target="_blank">@Model[0].title</a>
                <h4>@Model[0].noteTime</h4>
                <p class="limit">
                    @Model[0].noteContent
                </p>
            </div>
            <div class="clearfix"> </div>

        </div>}
        @if (Model.Count > 1){
            <div class="col-md-6 blog-grid">
    <div class="col-xs-4 blog-grid-left">
        <a href="/Scene/SingleNote?nn=@Model[1].noteID" target="_blank"><img src="@Model[1].image.First().imageAddress" alt=" " class="img-responsive" /></a>
    </div>
    <div class="col-xs-8 blog-grid-right">
        <a href="/Scene/SingleNote?nn=@Model[1].noteID" target="_blank">@Model[1].title</a>
        <h4>@Model[1].noteTime</h4>
        <p class="limit">
            @Model[1].noteContent
        </p>
    </div>
    <div class="clearfix"> </div>

</div>}
        <div class="clearfix"> </div>
    </div>
    <div class="blog-grids">
        @if (Model.Count() <= 6)
        {
            foreach (var m in Model)
            {
                <div class="col-md-6 blog-grid">
                    <div class="col-xs-4 blog-grid-left">
                        <a href="/Scene/SingleNote?nn=@m.noteID" target="_blank"><img src="@m.image.First().imageAddress" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="col-xs-8 blog-grid-right">
                        <a href="/Scene/SingleNote?nn=@m.noteID" target="_blank">@m.title</a>
                        <h4>@m.noteTime</h4>
                        <p class="limit">
                            @m.noteContent
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            }
        }
        <div class="clearfix"> </div>
    </div>
</div>
<script>
    $(".limit").each(function () {
        var len = $(this).text().length;
        if (len > 100) {
            var str = "";
            str = $(this).text().substring(0, 100) + "......";
            $(this).html(str);
        }
    });
</script>