@model IEnumerable<SceneView.Models.scenicSpot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.scenicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scenicIntroduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scenicImage.imageAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scenicPos.address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.scenicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scenicIntroduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scenicImage.imageAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scenicPos.address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.scenicID }) |
            @Html.ActionLink("Details", "Details", new { id=item.scenicID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.scenicID })
        </td>
    </tr>
}

</table>
