@model SceneView.Models.comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentLike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentLike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scenicSpot.scenicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scenicSpot.scenicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.commentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
